<footer id="“footer”">
  <div class="container">
    <div class="footer-upper-part">
      <p class="container-header">
        <span>Chocolate</span> a delicious cure for a bad day
      </p>

      <div class="footer-nav">
        <div class="footer-contacts">
          <p class="">Contact us</p>
          <address class="footer-address">
            <ul class="list">
              <li class="footer-tel item">
                <a href="tel:+380684439426" class="link">+380 (68) 443-94-26</a>
              </li>
              <li class="item">
                <a href="mailto:simplychoc@gmail.com" class="link"
                  >simplychoc@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>

        <div class="footer-social">
          <ul class="list">
            <li class="item">
              <a href="https://www.instagram.com/" class="link" target="_blank">
                <svg class="footer-icon">
                  <use href="./images/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="item">
              <a href="https://twitter.com/" class="link" target="_blank">
                <svg class="footer-icon">
                  <use href="./images/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-info">
      <ul class="list">
        <li class="item">
          <a href=".index.html" class="link">Home</a>
        </li>
        <li class="item">
          <a href="#how-its-made" class="link">How it’s made?</a>
        </li>
        <li class="item">
          <a href="#our-products" class="link">Our products</a>
        </li>
        <li class="item">
          <a href="#top-sellers" class="link">Top sellers</a>
        </li>
        <li class="item">
          <a href="#reviews" class="link">Chocolate is loved</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
