<footer>
  <div class="container">
    <p class=""><span>Chocolate</span> a delicious cure for a bad day</p>

    <div class="">
      <p class="">Contact us</p>
      <address class="">
        <ul class="list">
          <li class="item">
            <a href="tel:+380684439426" class="link">+380 (68) 443-94-26</a>
          </li>
          <li class="item">
            <a href="mailto:simplychoc@gmail.com" class="link"
              >simplychoc@gmail.com</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="">
      <ul class="list">
        <li class="item">
          <a href="" class="link">
            <svg class="icon" width="22" height="22">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a href="" class="link">
            <svg class="icon" width="22" height="22">
              <use href="./images/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="">
      <ul class="list">
        <li class="item">Home</li>
        <li class="item">How it’s made?</li>
        <li class="item">Our products</li>
        <li class="item">Top sellers</li>
        <li class="item">Chocolate is loved</li>
      </ul>
    </div>
  </div>
</footer>
