<header class="header" id="header">
  <div class="container">
    <div class="logo-wrap">
      <a href="./index.html" class="logo">
        <span class="logo-first-part">SIMPLY &nbsp;</span> CHOCOLATE
        <svg class="logo-icon">
          <use href="./images/icons.svg#logo"></use>
        </svg>
      </a>
    </div>
    <ul class="nav mob-tab-hidden">
      <li class="nav-item">
        <a href="#hero" class="nav-link smooth-scroll">Home</a>
      </li>
      <li class="nav-item">
        <a href="#how-its-made" class="nav-link smooth-scroll"
          >How it&apos;s made?</a
        >
      </li>
      <li class="nav-item">
        <a href="#our-products" class="nav-link smooth-scroll">Our products</a>
      </li>
      <li class="nav-item">
        <a href="#top-sellers" class="nav-link smooth-scroll">Top sellers</a>
      </li>
      <li class="nav-item">
        <a href="#reviews" class="nav-link smooth-scroll">Chocolate is loved</a>
      </li>
    </ul>
    <div class="social mob-tab-hidden">
      <a href="https://www.instagram.com/" class="social-link" target="_blank">
        <svg class="social-icons insta-icon">
          <use href="./images/icons.svg#instagram"></use>
        </svg>
      </a>

      <a href="https://www.twitter.com/" class="social-link" target="_blank">
        <svg class="social-icons twitter-icon">
          <use href="./images/icons.svg#twitter"></use>
        </svg>
      </a>
    </div>
    <button type="button" class="mob-menu-open dt-hidden" data-menu-open>
      <svg class="mob-menu-icon">
        <use href="./images/icons.svg#hamburger"></use>
      </svg>
    </button>
    <div class="mob-menu dt-hidden is-hidden no-scroll" data-menu>
      <button type="button" class="mob-menu-close" data-menu-close>
        <svg class="menu-close-icon">
          <use href="./images/icons.svg#close"></use>
        </svg>
      </button>
      <ul class="mob-nav">
        <li class="mob-nav-items">
          <a href="#hero" class="nav-link smooth-scroll">Home</a>
        </li>
        <li class="mob-nav-items">
          <a href="#how-its-made" class="nav-link smooth-scroll"
            >How it&apos;s made?</a
          >
        </li>
        <li class="mob-nav-items">
          <a href="#our-products" class="nav-link smooth-scroll"
            >Our products</a
          >
        </li>
        <li class="mob-nav-items">
          <a href="#top-sellers" class="nav-link smooth-scroll">Top sellers</a>
        </li>
        <li class="mob-nav-items">
          <a href="#reviews" class="nav-link smooth-scroll"
            >Chocolate is loved</a
          >
        </li>
      </ul>

      <div class="mob-social">
        <a
          href="https://www.instagram.com/"
          class="social-link"
          target="_blank"
        >
          <svg class="social-icons insta-icon">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
        <a href="https://www.twitter.com/" class="social-link" target="_blank">
          <svg class="social-icons twitter-icon">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
