<header class="header">
    <div class="container">
        <div class="logo-wrap"> 
            <a class="logo-text"> <p class="logo-first-part">SIMPLY</p> CHOCOLATE  <svg class="logo-icon">
                <use href=""></use>
            </svg>
        </a>
           
        </div>     
        <ul class="nav mob-tab-hidden"> 
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">How it’s made?</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Our products</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Top sellers</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Chocolate is loved</a></li>  
        </ul>
        <div class="social mob-tab-hidden"> 
                <svg class="social-icons">
                    <use href=""></use>
                </svg>
                <svg class="social-icons">
                    <use href=""></use>
            </svg> 
        </div>
        <button class="mob-menu-open dt-hidden">
            <svg class="mob-menu-icon">
                <use href=""></use>
            </svg>
        </button>
        <div class="mob-menu dt-hidden hidden">
            <button class="mob-menu-close">
                <svg class="menu-close-icon">
                    <use href=""></use>
                </svg>
            </button>
            <ul class="mob-nav">
                <li class="mob-nav-items"><a href="#" class="nav-link">Home</a></li>
                <li class="mob-nav-items"><a href="#" class="nav-link">How it’s made?</a></li>
                <li class="mob-nav-items"><a href="#" class="nav-link">Our products</a></li>
                <li class="mob-nav-items"><a href="#" class="nav-link">Top sellers</a></li>
                <li class="mob-nav-items"><a href="#" class="nav-link">Chocolate is loved</a></li>
            </ul>
        </div>
    </div>
</header>
