<section class="page-hero">
  <div class="hero-container container">
    <h1 class="visually-hidden">Chocolate</h1>
    <h2 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-btns">
      <ul class="hero-list-btn">
        <li class="hero-item-btn">
          <button
            class="hero-btn-buy btn-text-light"
            type="button"
            data-buynow-open
          >
            Buy now
          </button>
        </li>
        <li class="hero-item-btn">
          <a
            class="hero-btn-how btn-text-light smooth-scroll"
            href="#how-its-made"
            >How it&apos;s made</a
          >
        </li>
      </ul>
      <a class="hero-link-scroll smooth-scroll" href="#footer">
        <span class="hero-text-scroll">scroll down</span>
        <div class="hero-btn-scroll">
          <svg class="hero-btn-icon-scroll">
            <use href="./images/icons.svg#scroll"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
