<div class="thank-backdrop is-hidden" data-thank>
  <div class="thank-modal">
    <button class="thank-close-btn" type="button" data-thank-close>
      <svg class="thank-icon-close">
        <use href="../images/icons.svg#close"></use>
      </svg>
    </button>
    <div class="thank-block">
      <h2 class="thank-title subtitle-light">Thank you!</h2>
      <p class="thank-text text-white">
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </div>
  </div>
</div>
