<div class="thank-backdrop is-hidden" data-thank>
  <div class="thank-modal">
    <button class="thank-close-btn" type="button" data-thank-close>
      <svg id="header-shape-gradient" class="thank-icon-close">
        <use href="./images/icons.svg#close"></use>
        <linearGradient id="linear-gradient" x1="0" y1="0" x2="0" y2="100%">
          <stop offset="1.64%" stop-color="#F16529" class="stop-1" />
          <stop offset="98.35%" stop-color="#D44528" class="stop-2" />
        </linearGradient>
      </svg>
    </button>
    <div class="thank-block">
      <h2 class="thank-title subtitle-light">Thank you!</h2>
      <p class="thank-text text-white">
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </div>
  </div>
</div>
