<div class="backdrop-buy-now is-hidden" data-buynow>
  <div class="modal-buy-now">
    <button type="button" class="buy-now-close" data-buynow-close>x</button>
    <h2><span>byu</span> now</h2>
    <ul class="bynow-list">
      <li class="bynow-item">
        <div class="bynow-item-wrap primary">
          <button type="button" class="gramm"></button>
        </div>
      </li>
      <li class="bynow-item">
        <div class="bynow-item-wrap">
          <button type="button" class="gramm"></button>
        </div>
      </li>
      <li class="bynow-item">
        <div class="bynow-item-wrap">
          <button type="button" class="gramm"></button>
        </div>
      </li>
    </ul>
    <form class="bynow-form">
      <label for="user-name" class="bynow-input-label"
        >Personal information</label
      >
      <input
        type="text"
        class="bynow-input input"
        name="user-name"
        id="user-name"
        placeholder="Name"
      />
      <input
        type="text"
        class="bynow-input input"
        name="user-surname"
        id="user-surname"
        placeholder="Surname"
      />
      <label for="user-email" class="bynow-input-label">Email</label>
      <input
        type="email"
        class="bynow-input input"
        name="user-email"
        id="user-email"
        placeholder="Email"
      />
      <label for="user-email" class="bynow-input-label">phone number</label>
      <input
        type="tel"
        class="bynow-input input"
        name="user-tel"
        id="user-tel"
        placeholder="Phone number"
      />
      <label for="user-email" class="bynow-input-label">card number</label>
      <input
        type="tel"
        class="bynow-input input"
        name="user-card"
        id="user-card"
        placeholder="Card number"
      />
      <label for="user-comment" class="bynow-input-label">Comment</label>
      <textarea
        placeholder="Enter text"
        name="user-coment"
        id="user-coment"
        class="bynow-textarea input"
      ></textarea>
      <button type="submit" class="submit-buynow">Submit</button>
    </form>
  </div>
</div>
