<section id="our-products" class="section-conteiner">
  <div class="container product-container">
    <div class="section-title-conteiner">
  <h2 class="subtitle-black section-title">OUR <span class="subtitle-orange">PRODUCTS</span></h2>
  </div>
  <ul class="product-list">
    <li class="card">
      <div class="product-img">
      <img src="../img/product1-desktop@1x-min.jpg" 
      alt="orange"
      srcset="../img/product1-desktop@1x-min.jpg 1x, 
      ../img/product1-desktop@2x-min.jpg 2x"
      width="230"
      height="201" >
      </div>
      <div class="product-text">
      <p class="card-title">ORANGE</p>
      <p class="card-text">Dark chocolate</p>
      <p class="card-price">45 UAH</p>
      </div>
    </li>
    <li class="card">
      <div class="product-img">
      <img src="../img/product2-desktop@1x-min.jpg" 
      alt="apple&cranberry"
      srcset="../img/product2-desktop@1x-min.jpg 1x,
      ../img/product2-desktop@2x-min.jpg 2x"
      width="230"
      height="201" >
      </div>
      <div class="product-text">
      <p class="card-title">APPLE&CRANBERRY</p>
      <p class="card-text">Milk chocolate</p>
      <p class="card-price">50 UAH</p>
      </div>
    </li>
    <li class="card">
      <div class="product-img">
      <img src="../img/product3-desktop@1x-min.jpg" 
      alt="lime&sea salt"
      srcset="../img/product3-desktop@1x-min.jpg 1x,
      ../img/product3-desktop@2x-min.jpg 2x" 
      width="230"
      height="201" >
      </div>
      <div class="product-text">
      <p class="card-title">LIME&SEA SALT</p>
      <p class="card-text">Dark chocolate</p>
      <p class="card-price">66 UAH</p>
      </div>
    </li>
    <li class="card">
      <div class="product-img">
      <img src="../img/product4-desktop@1x-min.jpg" 
      alt="pineapple"
      srcset="../img/product4-desktop@1x-min.jpg 1x,
      ../img/product4-desktop@2x-min.jpg 2x" 
      width="230"
      height="201" >
      </div>
      <div class="product-text">
      <p class="card-title">PINEAPPLE</p>
      <p class="card-text">Dark chocolate</p>
      <p class="card-price">54 UAH</p>
      </div>
    </li>
    <!-- <li class="card">
      <img src="" alt="classic milk"
      width="230"
      height="201">
      <p class="card-title">CLASSIC</p>
      <p class="card-text">Milk chocolate</p>
      <p class="card-price">45 UAH</p>
    </li>
    <li class="card">
      <img src="" alt="honey"
      width="230"
      height="201">
      <p class="card-title">HONEY</p>
      <p class="card-text">Milk chocolate</p>
      <p class="card-price">50 UAH</p>
    </li>
    <li class="card">
      <img src="" alt="roasted fruits"
      width="230"
      height="201">
      <p class="card-title">ROASTED FRUITS</p>
      <p class="card-text">Dark chocolate</p>
      <p class="card-price">66 UAH</p>
    </li>
    <li class="card">
      <img src="" alt="classic white"
      width="230"
      height="201">
      <p class="card-title">CLASSICS</p>
      <p class="card-text">White chocolate</p>
      <p class="card-price">54 UAH</p>
    </li> -->
  </ul>
  <div class="slider">
  <ul class="slider-list">
  <li class="btn"></li>
  <li class="btn"></li>
  <li class="btn"></li>
  <li class="btn"></li>
  <li class="btn"></li>
  <li class="btn"></li>
  <li class="btn"></li>
  <li class="btn"></li>
  </ul>
  </div>
  </div>
</section>
