<section class="reviews section" id="reviews">
  <div class="container">
    <h2 class="reviews-title subtitle-black">
      <span class="subtitle-orange">chocolate</span> is loved
    </h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          src="../img/reviews1-desktop@1x-min.jpg"
          alt="Victoria Dobrzhanska photo"
          class="reviews-item-photo"
          srcset="
            ../img/reviews1-desktop@1x-min.jpg 1x,
            ../img/reviews1-desktop@2x-min.jpg 2x
          "
        />
        <h3 class="reviews-item-title under-subtitle">Victoria Dobrzhanska</h3>
        <p class="reviews-item-text text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="reviews-item reviews-table">
        <img
          src="../img/reviews2-desktop@1x-min.jpg"
          alt="Nazar Babenko photo"
          class="reviews-item-photo"
          srcset="
            ../img/reviews2-desktop@1x-min.jpg 1x,
            ../img/reviews2-desktop@2x-min.jpg 2x
          "
        />
        <h3 class="reviews-item-title under-subtitle">Nazar Babenko</h3>
        <p class="reviews-item-text text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews-item reviews-pc">
        <img
          src="../img/reviews3-desktop@1x-min.jpg"
          alt="Olena Kampusch photo"
          class="reviews-item-photo"
          srcset="
            ../img/reviews3-desktop@1x-min.jpg 1x,
            ../img/reviews3-desktop@2x-min.jpg 2x
          "
        />
        <h3 class="reviews-item-title under-subtitle">Olena Kampusch</h3>
        <p class="reviews-item-text text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <button type="button" class="reviews-button" data-review-open>
      Leave a review
    </button>
  </div>
</section>
