<section class="reviews section" id="reviews">
  <div class="container">
    <h2 class="reviews-title subtitle-black">
      <span class="subtitle-orange">chocolate</span> is loved
    </h2>
    <div class="reviews-list swiper swiper2">
     <ul class="swiper-wrapper reviews-wrapper">
      <li class="reviews-item swiper-slide">
        <picture  class="reviews-item-photo">
          <source
            srcset="
              ./img/reviews1-desktop@1x-min.jpg 1x,
              ./img/reviews1-desktop@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/reviews1-tablet@1x-min.jpg 1x,
              ./img/reviews1-tablet@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/reviews1-mobile@1x-min.jpg 1x,
              ./img/reviews1-mobile@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./img/reviews1-mobile@1x-min.jpg" alt="review" />
        </picture>
        <h3 class="reviews-item-title under-subtitle">Victoria Dobrzhanska</h3>
        <p class="reviews-item-text text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="reviews-item reviews-table swiper-slide">
        <picture  class="reviews-item-photo">
          <source
            srcset="
              ./img/reviews2-desktop@1x-min.jpg 1x,
              ./img/reviews2-desktop@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/reviews2-tablet@1x-min.jpg 1x,
              ./img/reviews2-tablet@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/reviews2-mobile@1x-min.jpg 1x,
              ./img/reviews2-mobile@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./img/reviews2-mobile@1x-min.jpg" alt="review" />
        </picture>
        <h3 class="reviews-item-title under-subtitle">Nazar Babenko</h3>
        <p class="reviews-item-text text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews-item reviews-pc swiper-slide">
        <picture  class="reviews-item-photo">
          <source
            srcset="
              ./img/reviews3-desktop@1x-min.jpg 1x,
              ./img/reviews3-desktop@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/reviews3-tablet@1x-min.jpg 1x,
              ./img/reviews3-tablet@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/reviews3-mobile@1x-min.jpg 1x,
              ./img/reviews3-mobile@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./img/reviews3-mobile@1x-min.jpg" alt="review" />
        </picture>
        <h3 class="reviews-item-title under-subtitle">Olena Kampusch</h3>
        <p class="reviews-item-text text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
      <li class="reviews-item reviews-pc swiper-slide">
        <picture  class="reviews-item-photo">
          <source
            srcset="
              ./img/reviews4-desktop@1x-min.jpg 1x,
              ./img/reviews4-desktop@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/reviews4-tablet@1x-min.jpg 1x,
              ./img/reviews4-tablet@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/reviews4-mobile@1x-min.jpg 1x,
              ./img/reviews4-mobile@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./img/reviews4-mobile@1x-min.jpg" alt="review" />
        </picture>
        <h3 class="reviews-item-title under-subtitle">Natalia Sus</h3>
        <p class="reviews-item-text text">
          The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. 
        </p>
      </li>
      <li class="reviews-item reviews-pc swiper-slide">
        <picture  class="reviews-item-photo">
          <source
            srcset="
              ./img/reviews5-desktop@1x-min.jpg 1x,
              ./img/reviews5-desktop@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/reviews5-tablet@1x-min.jpg 1x,
              ./img/reviews5-tablet@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/reviews5-mobile@1x-min.jpg 1x,
              ./img/reviews5-mobile@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./img/reviews5-mobile@1x-min.jpg" alt="review" />
        </picture>
        <h3 class="reviews-item-title under-subtitle">Danilo Nottingham</h3>
        <p class="reviews-item-text text">
          This is delicious. It so rich and flavorful you don&apos;t need to use as many. I love topping an apple with almond butter and these chips for a snack.
        </p>
      </li>
      <li class="reviews-item reviews-pc swiper-slide">
        <picture  class="reviews-item-photo">
          <source
            srcset="
              ./img/reviews6-desktop@1x-min.jpg 1x,
              ./img/reviews6-desktop@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/reviews6-tablet@1x-min.jpg 1x,
              ./img/reviews6-tablet@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/reviews6-mobile@1x-min.jpg 1x,
              ./img/reviews6-mobile@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./img/reviews6-mobile@1x-min.jpg" alt="review" />
        </picture>
        <h3 class="reviews-item-title under-subtitle">Irina Tydnyuk</h3>
        <p class="reviews-item-text text">
          This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)
        </p>
      </li>
    </ul>
    </div>
    <div class="swiper-pagination swiper-pagination2"></div>
    

    <button type="button" class="reviews-button speed" data-review-open>
      Leave a review
    </button>
  </div>
</section>
