<section class="top-sellers">
  <ul class="top-sellers-list">
    <li class="top-sellers-items">
      <img
        src="../img/sellers1-mobile@1x-min.jpg"
        srcset="
          ../img/sellers1-mobile@1x-min.jpg 1x,
          ../img/sellers1-mobile@2x-min.jpg 2x
        "
        alt="chocolate option one"
      />
      <p class="text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
    </li>
    <li class="top-sellers-items">
      <img
        src="../img/sellers2-mobile@1x-min.jpg"
        srcset="
          ../img/sellers2-mobile@1x-min.jpg 1x,
          ../img/sellers2-mobile@2x-min.jpg 2x
        "
        alt="chocolate option two"
      />
    </li>
  </ul>
  <button type="button" class="buy-now-button">Buy now</button>
</section>
