.advantages-section {
  /* background-color: var(--color-dark-violet); */
}
.advantages-container {
  background-color: var(--color-dark-violet);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.advantages-wrap {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.advantages-subtitle {
  color: var(--color-white);
  margin-bottom: 18px;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.text-down {
  padding-bottom: 16px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
  .top-text {
    padding-bottom: 9px;
  }
  .advantages-item {
    max-width: 308px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-container {
    width: 768px;
    padding: 50px 32px;
  }
  .advantages-list {
    flex-wrap: wrap;
    flex-direction: unset;
    gap: 32px 60px;
  }
  .advantages-item {
    max-width: 308px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-container {
    width: 1200px;
    display: flex;
    padding: 50px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 70px;
  }
  .advantages-item {
    position: relative;
    max-width: 326px;
  }
  .advantages-item:not(:last-child)::before {
    content: '';
    display: block;
    position: absolute;
    left: 80%;
    bottom: 50%;
    margin-left: auto;
    width: 124px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
  }
  .advantages-item:not(:last-child) {
    padding-right: 18px;
  }
}
