.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    }
      
    .mob-tab-hidden {
        display: none;
        visibility: none;
    }


    .header {
        padding: 20px 0px 14px 0px;
      }

    .header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   

    
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif ;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.03em;
        color: var(--color-black);
        cursor: pointer;
    }
    
    
    .logo-first-part {
        margin-right: 2.5px;
        display: inline-block;
        font-style: italic;
    }

    .logo-icon {
        width: 21px;
        height: 21px;
        margin-left: 6px;
    }
    
    .mob-menu-open {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        
    }

    .mob-menu {
        display: none;
        visibility: none;
    }
    
    .mob-menu.menu-open {
        display: block;
    }


    .mob-menu-icon {
        stroke: var(--color-black);
        width: 28px;
        height: 28px;
    }
    
    .mob-menu {
        background-color: var(--color-dark-violet);
        width: 59vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        gap: 88px;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .mob-menu {
        display: none;
        visibility: none;
    }
    
    .mob-menu.menu-open {
        display: flex;
    }


    .mob-nav {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: start;
        justify-content: center;
        width: 124px;
    }



    .nav-link {
        font-family: 'Montserrat', sans-serif ;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: var(--color-white);
    }
    
    .mob-menu-close {
        margin-left: auto;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-close-icon {
        display: block;
        width: 28px;
        height: 28px;
        stroke: var(--color-white);
    }

    .social {
        margin-top: auto;
        margin-right: auto;
    
    }

    .social-icons {
        stroke: var(--color-white);
        fill: transparent;
    }

    .insta-icon {
        width: 22px;
        height: 22px;
    }

    .twitter-icon {
        width: 20px;
        height: 20px;
        margin-left: 20px;
    }