.subtitle-how-made {
  text-align: center;
  margin-bottom: 32px;
}
.how-its-made-wrap {
  display: flex;
  flex-direction: column;
}
.video {
  min-height: 500px;
  min-width: auto;
  margin-bottom: 0;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.video-wrap {
  position: relative;
  margin: 0 auto;
}

.video-cover {
  position: absolute;
  background-image: url(../img/how-made-mobile@1x-min.jpg);
 background-size: cover;
  top: 0;
width: 335px;
height: 500px;
  z-index: 5;
  border-radius: 15px;
  cursor: pointer;
  
  transition: opacity 0.5s ease-in-out;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .video-cover {
    background-image: url(../img/how-made-mobile@2x-min.jpg);
  }
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 35px;
  height: 35px;
  cursor: pointer;
  
  transition: opacity 0.5s ease-in-out;
}


.how-made-list-subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-black);
}
.how-made-wrap-list {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 14px;
}
.how-made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: auto;
}
.how-made-item {
  position: relative;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-black);
}
.how-made-item::before {
  content: '';
  min-width: 8px;
  min-height: 8px;
  background: var(--marker-background);
  border: 1px solid var(--color-blackmarker-border);
  border-radius: 50%;
  margin-right: 8px;
  top: 5px;
  left: 0;
  position: absolute;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
  .how-made-list {
    width: 307px;
  }
  .video {
    min-width: 335px;
    height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .video {
    min-width: 614px;
    min-height: 400px;
  }

  .video-cover {
    width:614px;
    height: 400px;
    background-image: url(../img/how-made-tablet@1x-min.jpg);
  }

  .play-icon {
    width: 44px;
    height: 44px;
  }

  .how-made-wrap-list {
    padding: 32px;
  }

  .how-made-list {
    width: 550px;
  }
  .how-made-list-subtitle {
    width: 350px;
  }
  .how-made-list-subtitle {
    margin-bottom: 28px;
  }
  .subtitle-how-made{
    margin-bottom: 50px;
  }
  
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-container {
    background-image: url(../img/how-made-tablet@2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1400px;
  }
  .how-its-made-wrap {
    flex-direction: row;
    gap: 20px;
  }
  .video {
    width: 600px;
    height: 400px;
    margin-bottom: 0;
  }

  .video-cover {
    width:600px;
    height: 400px;
    background-image: url(../img/how-made-desktop@1x-min.jpg);
  }

  .how-made-wrap-list {
    width: 516px;
  }
  .how-made-list {
    width: 446px;
    gap: 24px;
  }
  .subtitle-how-made{
    margin-bottom: 50px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .video-cover {
    background-image: url(../img/how-made-desktop@2x-min.jpg);
  }
}