.backdrop-buy-now {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
<<<<<<< Updated upstream
=======
  overflow: auto;
>>>>>>> Stashed changes
}
.modal-buy-now {
  width: 311px;
  min-height: 1007px;
  background-color: var(--main-background-color);
  position: absolute;
  border-radius: 15px;
  padding: 14px;
}
.buy-now-close {
  display: block;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: var(--main-background-color);
}
.bynow-list {
  display: flex;
  justify-content: center;
}

.bynow-item-wrap {
  width: 231px;
  height: 257px;
  background-color: var(--color-white);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  display: none;
}
.bynow-item-wrap.primary {
  display: block;
}
.bynow-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-left: 10px;
  padding-right: 10px;
}
.bynow-input {
  width: 263px;
}
.bynow-input-label {
  padding: 0 auto;
}
/*! ----------------------TABlET---------------------- */
@media screen and (min-width: 768px) {
  .modal-buy-now {
    width: 609px;
    min-height: 1058px;
    padding: 24px;
  }
  .buy-now-close {
    width: 28px;
    height: 28px;
  }
<<<<<<< Updated upstream
}

/*! ----------------------DESKTOP---------------------- */
@media screen and (min-width: 1200px) {
  .modal-buy-now {
  }
}
=======
  .bynow-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .bynow-input {
    width: 100%;
  }
}

/*! ----------------------DESKTOP---------------------- */
/* @media screen and (min-width: 1200px); */
>>>>>>> Stashed changes
