.modal-feedback {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: opacity var(--transition), visibility var(--transition);
}
.modal-feedback-block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 311px;
  height: 350px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position-y: bottom;
  transition: transform var(--transition);
  background-color: #fd9222;
  border-radius: 15px;
}

.close-feedback-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: #fcf1e0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 28px;
  height: 28px;
  left: 269px;
  top: 14px;
}
.close-feedback-icon {
  fill: #fcf1e0;
  stroke: #f16529;
}
.modal-text-feedback {
  padding: 84px 24px 170px 58px;
  text-align: left;
}
.title-modal {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fcf1e0;
  margin-bottom: 8px;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .modal-feedback-block {
    background-image: url(../img/pop-up-half-choc-mobile@1x-min.png);
    background-size: 296px;
  }
}
@media screen and (min-width: 375px) {
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .modal-feedback-block {
    background-image: url(../img/pop-up-half-choc-tablet@1x-min.png);
  }
}

@media screen and (min-width: 768px) {
  .modal-feedback-block {
    width: 516px;
    height: 414px;
  }
  .modal-text-feedback {
    padding: 163px 49px 163px 170px;
    text-align: left;
  }
  .close-feedback-btn {
    left: 452px;
    width: 40px;
    height: 40px;
    top: 24px;
  }
  .title-modal {
    font-size: 24px;
    line-height: 1.17;
  }
  .text-modal {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .modal-feedback-block {
    background-image: url(../img/pop-up-half-choc-destop@1x-min.png);
  }
}
