.reviews {
  padding-bottom: 72px;
}

.reviews-title {
  margin-bottom: 74px;
  text-align: center;
}

.reviews-list {
  margin-bottom: 32px;
}
.reviews-item {
  width: 100%;
  max-height: 200px;
  text-align: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-input-border);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  position: relative;
}

.reviews-item-title {
  margin-bottom: 24px;
  padding-top: 56px;
}

.reviews-item-text {
  color: var(--color-black-70);
  padding: 0 24px 42px;
}

.reviews-item-photo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.reviews-button {
  margin-left: auto;
  margin-right: auto;
  display: block;

  padding: 12px 28px;
  width: 165px;
  height: 41px;

  border: 1px solid #fd9222;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: var(--color-black);
}
.reviews-button:is(:hover, :focus) {
  background: var(--color-orange);
  color: var(--color-white);
}

.speed {
  transition: all 250ms linear;
}

.reviews-table,
.reviews-pc {
  display: none;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .reviews-table {
    display: block;
  }
  .reviews-list {
    display: flex;
    gap: 16px;
    margin-bottom: 94px;
  }
  .reviews-item {
    width: calc((100%-16px) / 2);
  }
  .reviews-title {
    margin-bottom: 91px;
  }

  .reviews {
    padding-bottom: 100px;
  }
  .reviews-button {
    width: 222px;
    height: 50px;
    padding: 14px 40px;
    font-size: 18px;
  line-height: 1.22;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-pc {
    display: block;
  }
  .reviews-list {
    gap: 28px;
  }
  .reviews-item {
    width: calc((100%-56px) / 3);
  }
  .reviews {
    padding-bottom: 128px;
  }
}
