/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./benefits.css');
@import url('./unique-components.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;



  /* ===========================COLORS=========================== */

  --main-background-color: #E2E2E2; /* Body background Color */
	--color-black: #111111; /* Main text color */
  --color-black-70: #111111B2; /* Reviews text color */
	--color-dark-violet: #1e1823; /* Mobile menu + Footer  */
  --color-input-border:#1111110D; /* Input border color */
  --color-placeholder: #4040404D; /* Placeholder Text Color */
	--color-orange: #fd9222;  /* Buttons(+Hover/Focus/) Text, Background */
  --color-orange-light: #FCF1E0; /* Buttons(+Hover/Focus/) Text */
	--color-white: #FAFAFA; 
  --color-white-70:#FFFFFFB2; /* Text */
  --cross-gradiend: linear-gradient(to bottom, #F16529 0%, #D44528 100%); /* Pop-Up Close Button icon fill */

  /* ===========================/COLORS=========================== */ 

}
